---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section class="flex flex-col items-start justify-between gap-10 p-12">
  <h2 class="text-3xl md:text-4xl lg:text-3xl font-semibold">
    Selected Projects
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {
      posts.slice(0, 4).map((post) => (
        <li class="flex flex-col">
          <a href={`/blog/${post.slug}/`} class="flex flex-col items-start">
            <img
              width={480}
              height={240}
              src={post.data.heroImage}
              alt={post.data.title}
              class="w-full h-auto rounded-lg object-cover object-center transition-transform duration-300 transform hover:scale-105 hover:shadow-md"
            />
            <h4 class="title mt-2">{post.data.title}</h4>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
